n8n_mlops_activation_workflow copy.json
{
  "name": "MLOps Activation Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "node-1-start",
      "name": "▶️ Start MLops",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:8000/health",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "node-2-health",
      "name": "🏥 Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        340,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-api-healthy",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-3-if",
      "name": "🔀 API Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        560,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/retrain",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"actor\": \"actor1\" }",
        "options": {
          "timeout": 600000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "node-4-train1",
      "name": "🏋️ Train Actor 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/retrain",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"actor\": \"actor2\" }",
        "options": {
          "timeout": 600000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "node-5-train2",
      "name": "🏋️ Train Actor 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/retrain",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"actor\": \"actor3\" }",
        "options": {
          "timeout": 600000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "node-6-train3",
      "name": "🏋️ Train Actor 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1220,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:5000/health",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "node-7-mlflow",
      "name": "📊 Check MLflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "s1",
              "name": "status",
              "value": "SUCCESS",
              "type": "string"
            },
            {
              "id": "s2",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "s3",
              "name": "actors_trained",
              "value": "actor1, actor2, actor3",
              "type": "string"
            },
            {
              "id": "s4",
              "name": "mlflow_url",
              "value": "http://localhost:5000",
              "type": "string"
            },
            {
              "id": "s5",
              "name": "fastapi_url",
              "value": "http://localhost:8000/docs",
              "type": "string"
            },
            {
              "id": "s6",
              "name": "predictions_url",
              "value": "http://localhost:8000/predictions",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-8-success-set",
      "name": "✅ Build Success Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1660,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "status",
              "value": "FAILED",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "timestamp",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "reason",
              "value": "FastAPI not reachable on port 8000",
              "type": "string"
            },
            {
              "id": "f4",
              "name": "fix",
              "value": "Run: python -m uvicorn main:app --reload --host 0.0.0.0 --port 8000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "node-9-failure-set",
      "name": "❌ Build Failure Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        780,
        500
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toEmail": "sbiss@esprit.tn",
        "subject": "={{ '✅ MLops Pipeline — SUCCESS ' + $now }}",
        "emailType": "html",
        "message": "<h2 style=\"color:#2e7d32\">✅ MLops Pipeline Completed Successfully</h2>\n<table border=\"1\" cellpadding=\"8\" style=\"border-collapse:collapse\">\n  <tr><td><b>Timestamp</b></td><td>{{ $json.timestamp }}</td></tr>\n  <tr><td><b>Status</b></td><td style=\"color:green\">{{ $json.status }}</td></tr>\n  <tr><td><b>Actors Trained</b></td><td>{{ $json.actors_trained }}</td></tr>\n  <tr><td><b>MLflow UI</b></td><td><a href=\"{{ $json.mlflow_url }}\">{{ $json.mlflow_url }}</a></td></tr>\n  <tr><td><b>FastAPI Docs</b></td><td><a href=\"{{ $json.fastapi_url }}\">{{ $json.fastapi_url }}</a></td></tr>\n  <tr><td><b>Predictions</b></td><td><a href=\"{{ $json.predictions_url }}\">{{ $json.predictions_url }}</a></td></tr>\n</table>\n<p>All 3 ML actors retrained and logged to MLflow. Models are live.</p>",
        "options": {}
      },
      "id": "node-10-gmail-success",
      "name": "📧 Gmail — Success",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1880,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "toEmail": "sbiss@esprit.tn",
        "subject": "={{ '❌ MLops Pipeline — FAILED ' + $now }}",
        "emailType": "html",
        "message": "<h2 style=\"color:#c62828\">❌ MLops Pipeline Failed</h2>\n<table border=\"1\" cellpadding=\"8\" style=\"border-collapse:collapse\">\n  <tr><td><b>Timestamp</b></td><td>{{ $json.timestamp }}</td></tr>\n  <tr><td><b>Status</b></td><td style=\"color:red\">{{ $json.status }}</td></tr>\n  <tr><td><b>Reason</b></td><td>{{ $json.reason }}</td></tr>\n  <tr><td><b>Fix</b></td><td><code>{{ $json.fix }}</code></td></tr>\n</table>\n<p>Check that FastAPI is running before triggering the MLops workflow.</p>",
        "options": {}
      },
      "id": "node-11-gmail-failure",
      "name": "📧 Gmail — Failure",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1000,
        500
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "▶️ Start MLops": {
      "main": [
        [
          {
            "node": "🏥 Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏥 Health Check": {
      "main": [
        [
          {
            "node": "🔀 API Healthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔀 API Healthy?": {
      "main": [
        [
          {
            "node": "🏋️ Train Actor 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Build Failure Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏋️ Train Actor 1": {
      "main": [
        [
          {
            "node": "🏋️ Train Actor 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏋️ Train Actor 2": {
      "main": [
        [
          {
            "node": "🏋️ Train Actor 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏋️ Train Actor 3": {
      "main": [
        [
          {
            "node": "📊 Check MLflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📊 Check MLflow": {
      "main": [
        [
          {
            "node": "✅ Build Success Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅ Build Success Summary": {
      "main": [
        [
          {
            "node": "📧 Gmail — Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Build Failure Summary": {
      "main": [
        [
          {
            "node": "📧 Gmail — Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": [
    "ml",
    "esprit",
    "mlops",
    "activation"
  ],
  "triggerCount": 1,
  "versionId": "mlops-activation-v1"
}