n8n_retraining_workflow.json
{
  "name": "ML Retraining Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * 0"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron Weekly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:8000/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "health-check",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "api-healthy",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-api-healthy",
      "name": "IF API Healthy",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8000/retrain",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 600000
        }
      },
      "id": "retrain-all",
      "name": "Retrain All Actors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "retrain-success",
              "leftValue": "={{ $json.all_success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-retrain-success",
      "name": "IF Retrain Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1200, 180]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://127.0.0.1:8000/health",
        "options": {
          "timeout": 10000
        }
      },
      "id": "ping-fastapi",
      "name": "Ping FastAPI Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1440, 60]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "log-api-down",
      "name": "Log API Down",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [960, 420]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {}
      },
      "id": "log-retrain-partial",
      "name": "Log Partial Failure",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1440, 300]
    }
  ],
  "connections": {
    "Cron Weekly": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "IF API Healthy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF API Healthy": {
      "main": [
        [
          {
            "node": "Retrain All Actors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log API Down",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrain All Actors": {
      "main": [
        [
          {
            "node": "IF Retrain Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Retrain Success": {
      "main": [
        [
          {
            "node": "Ping FastAPI Health",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Partial Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "tags": []
}
